<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! 
    <div class="col-sm-2 offset-sm-8">
      <div class="form-group">
        <label for="exampleInputEmail1">Size</label>
        <input type="test" class="form-control" id="size" placeholder="size" [value]="positionValue | async" readonly>
      </div>
    </div>
  </h1>
  <div class="myDivContainer">
    <div ngResizable class="myDiv" (rzResizing)="onResizing($event)"> I'm resizable </div>
  </div>
</div>
<router-outlet></router-outlet>